.headerOption {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  align-items: center;
}

.headerOption:hover {
  color: black;
}

.headerOption__title {
  font-size: 12px;
  font-weight: 400;
}

.headerOption__icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}

@media only screen and (max-width: 600px) {
  .headerOption__title {
    display: none;
  }

  .headerOption:last-child{
    margin-right: 0px;
  }
  .headerOption__icon {
    margin-top: 11px;
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
  }
  .header__avatar {
    display: none;
  }
  .extraIcon{
    display: none !important;
  }
}
