.inputOption{
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
    cursor: pointer;
    color: gray;
}

.inputOption:focus {
    font-size: 5px;
}
.inputOption:hover{
    background-color:whitesmoke;
    border-radius: 10px;
}

.inputOption > h4{
    margin-left: 5px;
}

.inputOption > span{
    margin-right: 5px;
}